<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="./assets/css/styles.css" />
    <link rel="stylesheet" href="./assets/css/navbar.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <section>
        <h2>Last Blog Post: <%= lastPostTitle %></h2>
        <div><%- lastPostHtmlContent %></div>
      </section>
      <section>
        <h2>All Blog Posts</h2>
        <ul>
          <% sortedFiles.forEach(function(file) { %>
          <li>
            <a href="./<%= file.replace('.md', '') %>.html"
              ><%= file.replace('.md', '') %></a
            >
          </li>
          <% }); %>
        </ul>
      </section>
    </main>
    <script src="./assets/script/navbar.js"></script>
  </body>
</html>
