<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="./assets/css/styles.css" />
    <link rel="stylesheet" href="./assets/css/navbar.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <main>
      <div class="posts-container">
        <% posts.forEach(post => { %>
        <div class="post-card">
          <h2>
            <a href="./<%= post.title %>.html"
              ><%= post.title.replace(/_/gm, ' ') %></a
            >
          </h2>
          <div class="post-content">
            <%- extractSummary(post.content, 200) %>...
            <a href="./<%= post.title %>.html">Read more</a>
          </div>
        </div>
        <% }) %>
      </div>
    </main>
    <script src="./assets/script/navbar.js"></script>
  </body>
</html>
